body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
}

.fgrm-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading,
.form-group{
  left: 15px;
  max-width: 330px;
  border-bottom:1px solid #a6a6a6;
}

.row{
  margin: 15px;
  left: 15px;
  max-width: 330px;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

